In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
r = requests.get('https://www.hltv.org/matches/2357640/vitality-vs-og-blast-premier-fall-groups-2022')
r.text

'<!DOCTYPE html>\n<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en-US"> <![endif]-->\n<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->\n<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->\n<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US"> <!--<![endif]-->\n<head>\n<title>Attention Required! | Cloudflare</title>\n<meta charset="UTF-8" />\n<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />\n<meta http-equiv="X-UA-Compatible" content="IE=Edge" />\n<meta name="robots" content="noindex, nofollow" />\n<meta name="viewport" content="width=device-width,initial-scale=1" />\n<link rel="stylesheet" id="cf_styles-css" href="/cdn-cgi/styles/cf.errors.css" />\n<!--[if lt IE 9]><link rel="stylesheet" id=\'cf_styles-ie-css\' href="/cdn-cgi/styles/cf.errors.ie.css" /><![endif]-->\n<style>body{margin:0;padding:0}</style>\n\n\n<!--[if gte IE 10]><!-->\n<script>\n  if (!navigator.cookieEnabled) {\n    window.addEventListener(\'DOMContentLoaded\', function () {\n      var cookieEl = document.getElementById(\'cookie-alert\');\n      cookieEl.style.display = \'block\';\n    })\n  }\n</script>\n<!--<![endif]-->\n\n\n</head>\n<body>\n  <div id="cf-wrapper">\n    <div class="cf-alert cf-alert-error cf-cookie-error" id="cookie-alert" data-translate="enable_cookies">Please enable cookies.</div>\n    <div id="cf-error-details" class="cf-error-details-wrapper">\n      <div class="cf-wrapper cf-header cf-error-overview">\n        <h1 data-translate="block_headline">Sorry, you have been blocked</h1>\n        <h2 class="cf-subheadline"><span data-translate="unable_to_access">You are unable to access</span> hltv.org</h2>\n      </div><!-- /.header -->\n\n      <div class="cf-section cf-highlight">\n        <div class="cf-wrapper">\n          <div class="cf-screenshot-container cf-screenshot-full">\n            \n              <span class="cf-no-screenshot error"></span>\n            \n          </div>\n        </div>\n      </div><!-- /.captcha-container -->\n\n      <div class="cf-section cf-wrapper">\n        <div class="cf-columns two">\n          <div class="cf-column">\n            <h2 data-translate="blocked_why_headline">Why have I been blocked?</h2>\n\n            <p data-translate="blocked_why_detail">This website is using a security service to protect itself from online attacks. The action you just performed triggered the security solution. There are several actions that could trigger this block including submitting a certain word or phrase, a SQL command or malformed data.</p>\n          </div>\n\n          <div class="cf-column">\n            <h2 data-translate="blocked_resolve_headline">What can I do to resolve this?</h2>\n\n            <p data-translate="blocked_resolve_detail">You can email the site owner to let them know you were blocked. Please include what you were doing when this page came up and the Cloudflare Ray ID found at the bottom of this page.</p>\n          </div>\n        </div>\n      </div><!-- /.section -->\n\n      <div class="cf-error-footer cf-wrapper w-240 lg:w-full py-10 sm:py-4 sm:px-8 mx-auto text-center sm:text-left border-solid border-0 border-t border-gray-300">\n  <p class="text-13">\n    <span class="cf-footer-item sm:block sm:mb-1">Cloudflare Ray ID: <strong class="font-semibold">74ccd3bd0cae8753</strong></span>\n    <span class="cf-footer-separator sm:hidden">&bull;</span>\n    <span id="cf-footer-item-ip" class="cf-footer-item hidden sm:block sm:mb-1">\n      Your IP:\n      <button type="button" id="cf-footer-ip-reveal" class="cf-footer-ip-reveal-btn">Click to reveal</button>\n      <span class="hidden" id="cf-footer-ip">34.123.249.130</span>\n      <span class="cf-footer-separator sm:hidden">&bull;</span>\n    </span>\n    <span class="cf-footer-item sm:block sm:mb-1"><span>Performance &amp; security by</span> <a rel="noopener noreferrer" href="https://www.cloudflare.com/5xx-error-landing" id="brand_link" target="_blank">Cloudflare</a></span>\n    \n  </p>\n  <script>(function(){function d(){var b=a.getElementById("cf-footer-item-ip"),c=a.getElementById("cf-footer-ip-reveal");b&&"classList"in b&&(b.classList.remove("hidden"),c.addEventListener("click",function(){c.classList.add("hidden");a.getElementById("cf-footer-ip").classList.remove("hidden")}))}var a=document;document.addEventListener&&a.addEventListener("DOMContentLoaded",d)})();</script>\n</div><!-- /.error-footer -->\n\n\n    </div><!-- /#cf-error-details -->\n  </div><!-- /#cf-wrapper -->\n\n  <script>\n  window._cf_translation = {};\n  \n  \n</script>\n\n</body>\n</html>\n'

In [4]:
html_status = """<div class="stats-content" id="all-content">
                    <table class="table totalstats">
                      <tbody><tr class="header-row">
                        <td class="players">
                          <div class="align-logo"><img alt="Vitality" class="logo" title="Vitality" height="25px" width="25px" src="https://img-cdn.hltv.org/teamlogo/GAlByJtDTnkgbb9p_71SUL.png?ixlib=java-2.1.0&amp;w=50&amp;s=2838cd78a5ebb5c9fea4c485908e9dbb"><a href="/team/9565/vitality" class="teamName team">Vitality</a></div>
                        </td>
                        <td class="kd text-center">K-D</td>
                        <td class="plus-minus text-center gtSmartphone-only">+/-</td>
                        <td class="adr text-center">ADR</td>
                        <td class="kast text-center" title="Percentage of rounds in which the player either had a kill, assist, survived or was traded">KAST</td>
                        <td class="rating text-center">Rating<span class="ratingDesc">2.0</span></td>
                      </tr>
                      <tr class="">
                        <td class="players">
                          <div class="flagAlign"><a href="/player/11893/zywoo" class="flagAlign no-maps-indicator-offset"><img alt="France" src="/img/static/flags/30x20/FR.gif" class="flag flag" title="France">
                              <div class="gtSmartphone-only statsPlayerName">Mathieu '<span class="player-nick">ZywOo</span>' Herbaut</div>
                              <div class="smartphone-only statsPlayerName">ZywOo</div>
                            </a></div>
                        </td>
                        <td class="kd text-center">27-13</td>
                        <td class="plus-minus text-center gtSmartphone-only"><span class="won">+14</span></td>
                        <td class="adr text-center ">99.6</td>
                        <td class="kast text-center">88.9%</td>
                        <td class="rating text-center">1.68</td>
                      </tr>
                      <tr class="">
                        <td class="players">
                          <div class="flagAlign"><a href="/player/18221/spinx" class="flagAlign no-maps-indicator-offset"><img alt="Israel" src="/img/static/flags/30x20/IL.gif" class="flag flag" title="Israel">
                              <div class="gtSmartphone-only statsPlayerName">Lotan '<span class="player-nick">Spinx</span>' Giladi</div>
                              <div class="smartphone-only statsPlayerName">Spinx</div>
                            </a></div>
                        </td>
                        <td class="kd text-center">22-11</td>
                        <td class="plus-minus text-center gtSmartphone-only"><span class="won">+11</span></td>
                        <td class="adr text-center ">80.6</td>
                        <td class="kast text-center">81.5%</td>
                        <td class="rating text-center">1.39</td>
                      </tr>
                      <tr class="">
                        <td class="players">
                          <div class="flagAlign"><a href="/player/9032/magisk" class="flagAlign no-maps-indicator-offset"><img alt="Denmark" src="/img/static/flags/30x20/DK.gif" class="flag flag" title="Denmark">
                              <div class="gtSmartphone-only statsPlayerName">Emil '<span class="player-nick">Magisk</span>' Reif</div>
                              <div class="smartphone-only statsPlayerName">Magisk</div>
                            </a></div>
                        </td>
                        <td class="kd text-center">16-13</td>
                        <td class="plus-minus text-center gtSmartphone-only"><span class="won">+3</span></td>
                        <td class="adr text-center ">73.0</td>
                        <td class="kast text-center">81.5%</td>
                        <td class="rating text-center">1.16</td>
                      </tr>
                      <tr class="">
                        <td class="players">
                          <div class="flagAlign"><a href="/player/7398/dupreeh" class="flagAlign no-maps-indicator-offset"><img alt="Denmark" src="/img/static/flags/30x20/DK.gif" class="flag flag" title="Denmark">
                              <div class="gtSmartphone-only statsPlayerName">Peter '<span class="player-nick">dupreeh</span>' Rasmussen</div>
                              <div class="smartphone-only statsPlayerName">dupreeh</div>
                            </a></div>
                        </td>
                        <td class="kd text-center">17-15</td>
                        <td class="plus-minus text-center gtSmartphone-only"><span class="won">+2</span></td>
                        <td class="adr text-center ">64.0</td>
                        <td class="kast text-center">81.5%</td>
                        <td class="rating text-center">1.04</td>
                      </tr>
                      <tr class="">
                        <td class="players">
                          <div class="flagAlign"><a href="/player/7322/apex" class="flagAlign no-maps-indicator-offset"><img alt="France" src="/img/static/flags/30x20/FR.gif" class="flag flag" title="France">
                              <div class="gtSmartphone-only statsPlayerName">Dan '<span class="player-nick">apEX</span>' Madesclaire</div>
                              <div class="smartphone-only statsPlayerName">apEX</div>
                            </a></div>
                        </td>
                        <td class="kd text-center">8-22</td>
                        <td class="plus-minus text-center gtSmartphone-only"><span class="lost">-14</span></td>
                        <td class="adr text-center ">55.4</td>
                        <td class="kast text-center">74.1%</td>
                        <td class="rating text-center">0.72</td>
                      </tr>
                    </tbody></table>
                  </div>"""

In [5]:
soup = BeautifulSoup(html_status, 'html.parser')

In [6]:
soup

<div class="stats-content" id="all-content">
<table class="table totalstats">
<tbody><tr class="header-row">
<td class="players">
<div class="align-logo"><img alt="Vitality" class="logo" height="25px" src="https://img-cdn.hltv.org/teamlogo/GAlByJtDTnkgbb9p_71SUL.png?ixlib=java-2.1.0&amp;w=50&amp;s=2838cd78a5ebb5c9fea4c485908e9dbb" title="Vitality" width="25px"/><a class="teamName team" href="/team/9565/vitality">Vitality</a></div>
</td>
<td class="kd text-center">K-D</td>
<td class="plus-minus text-center gtSmartphone-only">+/-</td>
<td class="adr text-center">ADR</td>
<td class="kast text-center" title="Percentage of rounds in which the player either had a kill, assist, survived or was traded">KAST</td>
<td class="rating text-center">Rating<span class="ratingDesc">2.0</span></td>
</tr>
<tr class="">
<td class="players">
<div class="flagAlign"><a class="flagAlign no-maps-indicator-offset" href="/player/11893/zywoo"><img alt="France" class="flag flag" src="/img/static/flags/30x20/FR.gif" title="France"/>
<div class="gtSmartphone-only statsPlayerName">Mathieu '<span class="player-nick">ZywOo</span>' Herbaut</div>
<div class="smartphone-only statsPlayerName">ZywOo</div>
</a></div>
</td>
<td class="kd text-center">27-13</td>
<td class="plus-minus text-center gtSmartphone-only"><span class="won">+14</span></td>
<td class="adr text-center ">99.6</td>
<td class="kast text-center">88.9%</td>
<td class="rating text-center">1.68</td>
</tr>
<tr class="">
<td class="players">
<div class="flagAlign"><a class="flagAlign no-maps-indicator-offset" href="/player/18221/spinx"><img alt="Israel" class="flag flag" src="/img/static/flags/30x20/IL.gif" title="Israel"/>
<div class="gtSmartphone-only statsPlayerName">Lotan '<span class="player-nick">Spinx</span>' Giladi</div>
<div class="smartphone-only statsPlayerName">Spinx</div>
</a></div>
</td>
<td class="kd text-center">22-11</td>
<td class="plus-minus text-center gtSmartphone-only"><span class="won">+11</span></td>
<td class="adr text-center ">80.6</td>
<td class="kast text-center">81.5%</td>
<td class="rating text-center">1.39</td>
</tr>
<tr class="">
<td class="players">
<div class="flagAlign"><a class="flagAlign no-maps-indicator-offset" href="/player/9032/magisk"><img alt="Denmark" class="flag flag" src="/img/static/flags/30x20/DK.gif" title="Denmark"/>
<div class="gtSmartphone-only statsPlayerName">Emil '<span class="player-nick">Magisk</span>' Reif</div>
<div class="smartphone-only statsPlayerName">Magisk</div>
</a></div>
</td>
<td class="kd text-center">16-13</td>
<td class="plus-minus text-center gtSmartphone-only"><span class="won">+3</span></td>
<td class="adr text-center ">73.0</td>
<td class="kast text-center">81.5%</td>
<td class="rating text-center">1.16</td>
</tr>
<tr class="">
<td class="players">
<div class="flagAlign"><a class="flagAlign no-maps-indicator-offset" href="/player/7398/dupreeh"><img alt="Denmark" class="flag flag" src="/img/static/flags/30x20/DK.gif" title="Denmark"/>
<div class="gtSmartphone-only statsPlayerName">Peter '<span class="player-nick">dupreeh</span>' Rasmussen</div>
<div class="smartphone-only statsPlayerName">dupreeh</div>
</a></div>
</td>
<td class="kd text-center">17-15</td>
<td class="plus-minus text-center gtSmartphone-only"><span class="won">+2</span></td>
<td class="adr text-center ">64.0</td>
<td class="kast text-center">81.5%</td>
<td class="rating text-center">1.04</td>
</tr>
<tr class="">
<td class="players">
<div class="flagAlign"><a class="flagAlign no-maps-indicator-offset" href="/player/7322/apex"><img alt="France" class="flag flag" src="/img/static/flags/30x20/FR.gif" title="France"/>
<div class="gtSmartphone-only statsPlayerName">Dan '<span class="player-nick">apEX</span>' Madesclaire</div>
<div class="smartphone-only statsPlayerName">apEX</div>
</a></div>
</td>
<td class="kd text-center">8-22</td>
<td class="plus-minus text-center gtSmartphone-only"><span class="lost">-14</span></td>
<td class="adr text-center ">55.4</td>
<td class="kast text-center">74.1%</td>
<td class="rating text-center">0.72</td>
</tr>
</tbody></table>
</div>

In [7]:
nick_name = soup.find_all("div", {"class": "smartphone-only statsPlayerName"})
nick_name

[<div class="smartphone-only statsPlayerName">ZywOo</div>,
 <div class="smartphone-only statsPlayerName">Spinx</div>,
 <div class="smartphone-only statsPlayerName">Magisk</div>,
 <div class="smartphone-only statsPlayerName">dupreeh</div>,
 <div class="smartphone-only statsPlayerName">apEX</div>]

In [8]:
dados_name = []

for i in range(len(nick_name)):
  name = nick_name[i].text
  print(name)
  dados_name.append(name)
dados_name

ZywOo
Spinx
Magisk
dupreeh
apEX

['ZywOo', 'Spinx', 'Magisk', 'dupreeh', 'apEX']

In [9]:
KD = soup.find_all("td", {"class": "kd text-center"})
KD

[<td class="kd text-center">K-D</td>,
 <td class="kd text-center">27-13</td>,
 <td class="kd text-center">22-11</td>,
 <td class="kd text-center">16-13</td>,
 <td class="kd text-center">17-15</td>,
 <td class="kd text-center">8-22</td>]

In [10]:
dados_KD = []

for i in range(len(KD)):
  K_D = KD[i].text
  print(K_D)
  dados_KD.append(K_D)
dados_KD

K-D
27-13
22-11
16-13
17-15
8-22

['K-D', '27-13', '22-11', '16-13', '17-15', '8-22']

In [11]:
kill = soup.find_all("td", {"class": "plus-minus text-center gtSmartphone-only"})
kill

[<td class="plus-minus text-center gtSmartphone-only">+/-</td>,
 <td class="plus-minus text-center gtSmartphone-only"><span class="won">+14</span></td>,
 <td class="plus-minus text-center gtSmartphone-only"><span class="won">+11</span></td>,
 <td class="plus-minus text-center gtSmartphone-only"><span class="won">+3</span></td>,
 <td class="plus-minus text-center gtSmartphone-only"><span class="won">+2</span></td>,
 <td class="plus-minus text-center gtSmartphone-only"><span class="lost">-14</span></td>]

In [12]:
kill[1].contents[0].text

'+14'

In [13]:
dados_saldo = []

for i in range(len(KD)):
  saldo = kill[i].text
  print(saldo)
  dados_saldo.append(saldo)
dados_saldo

+/-
+14
+11
+3
+2
-14

['+/-', '+14', '+11', '+3', '+2', '-14']

In [14]:
adr = soup.find_all("td", {"class": "adr text-center "})
adr

[<td class="adr text-center ">99.6</td>,
 <td class="adr text-center ">80.6</td>,
 <td class="adr text-center ">73.0</td>,
 <td class="adr text-center ">64.0</td>,
 <td class="adr text-center ">55.4</td>]

In [15]:
dados_adr = []

for i in range(len(adr)):
  adr_ = adr[i].text
  print(adr_)
  dados_adr.append(adr_)
dados_adr

99.6
80.6
73.0
64.0
55.4

['99.6', '80.6', '73.0', '64.0', '55.4']

In [16]:
kast = soup.find_all("td", {"class": "kast text-center"})
kast

[<td class="kast text-center" title="Percentage of rounds in which the player either had a kill, assist, survived or was traded">KAST</td>,
 <td class="kast text-center">88.9%</td>,
 <td class="kast text-center">81.5%</td>,
 <td class="kast text-center">81.5%</td>,
 <td class="kast text-center">81.5%</td>,
 <td class="kast text-center">74.1%</td>]

In [17]:
dados_kast = []

for i in range(len(kast)):
  kast_= kast[i].text
  print(kast_)
  dados_kast.append(kast_)
dados_kast

KAST
88.9%
81.5%
81.5%
81.5%
74.1%

['KAST', '88.9%', '81.5%', '81.5%', '81.5%', '74.1%']

In [18]:
rating = soup.find_all("td", {"class": "rating text-center"})
rating

[<td class="rating text-center">Rating<span class="ratingDesc">2.0</span></td>,
 <td class="rating text-center">1.68</td>,
 <td class="rating text-center">1.39</td>,
 <td class="rating text-center">1.16</td>,
 <td class="rating text-center">1.04</td>,
 <td class="rating text-center">0.72</td>]

In [19]:
dados_rating = []

for i in range(len(rating)):
  rating_ = rating[i].text
  print(rating_)
  dados_rating.append(rating_)
dados_rating

Rating2.0
1.68
1.39
1.16
1.04
0.72

['Rating2.0', '1.68', '1.39', '1.16', '1.04', '0.72']

In [20]:
dados_name_df = pd.DataFrame(dados_name, columns=['dados_name'])
dados_name_df

  dados_name
0      ZywOo
1      Spinx
2     Magisk
3    dupreeh
4       apEX

In [32]:
dados_saldo_df = pd.DataFrame(dados_saldo, columns=['dados_saldo'])
dados_saldo_df = dados_saldo_df.drop(0).reset_index().drop('index', axis=1)
dados_saldo_df

  dados_saldo
0         +14
1         +11
2          +3
3          +2
4         -14

In [22]:
dados_adr_df = pd.DataFrame(dados_adr, columns=['dados_adr'])
dados_adr_df

  dados_adr
0      99.6
1      80.6
2      73.0
3      64.0
4      55.4

In [33]:
dados_kast_df = pd.DataFrame(dados_kast, columns=['dados_kast'])
dados_kast_df = dados_kast_df.drop(0).reset_index().drop('index', axis=1)
dados_kast_df

  dados_kast
0      88.9%
1      81.5%
2      81.5%
3      81.5%
4      74.1%

In [34]:
dados_rating_df = pd.DataFrame(dados_rating, columns=['dados_rating'])
dados_rating_df = dados_rating_df.drop(0).reset_index().drop('index', axis=1)
dados_rating_df

  dados_rating
0         1.68
1         1.39
2         1.16
3         1.04
4         0.72

In [36]:
frames = [dados_name_df, dados_saldo_df, dados_adr_df, dados_kast_df, dados_rating_df]
result = pd.concat(frames, axis = 1)
display(result)

  dados_name dados_saldo dados_adr dados_kast dados_rating
0      ZywOo         +14      99.6      88.9%         1.68
1      Spinx         +11      80.6      81.5%         1.39
2     Magisk          +3      73.0      81.5%         1.16
3    dupreeh          +2      64.0      81.5%         1.04
4       apEX         -14      55.4      74.1%         0.72